<!-- <div>
    <mat-card class="card">
        <mat-card-title>post</mat-card-title>
        <mat-card-subtitle>post</mat-card-subtitle>
        <img src="" mat-card-image>
        <mat-card-content>post</mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Primary</button>
        </mat-card-footer>
    </mat-card>

</div> -->

<div style="display:flex; flex-direction: row;">
    <mat-card class="example-card">
        <mat-card-title>post</mat-card-title>
        <mat-card-subtitle>post</mat-card-subtitle>
        <img src="" mat-card-image>
        <mat-card-content>post</mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Primary</button>
        </mat-card-footer>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title>post</mat-card-title>
        <mat-card-subtitle>post</mat-card-subtitle>
        <img src="" mat-card-image>
        <mat-card-content>post</mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Primary</button>
        </mat-card-footer>
    </mat-card>
</div>